

/* antd css */



p {
    margin-top: 0;
    margin-bottom: 0;
}

.dg-button-success {
    color : #28a745;
    cursor: pointer;
    font-size: 14px;
    width: 115px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.dg-button-danger {
    color : #dc3545;
    cursor: pointer;
    font-size: 14px;
    width: 115px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.dg-button-primary {
    color : #007bff;
    cursor: pointer;
    font-size: 14px;
    width: 115px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.dg-button-warning {
    color : #d39e00;
    cursor: pointer;
    font-size: 14px;
    width: 115px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.dg-button-success:hover {
    border-color: #31B42F;
}

.dg-button-danger:hover {
    border-color: #dc3545;
}

.dg-button-primary:hover {
    border-color: #007bff;
}

.dg-button-warning:hover {
    border-color: #d39e00;
}

.pull-right {
    float: right;
}

.dg-text-form {
    color: #8c8c8c;
    font-size: 14px;
}
